h4 {
  margin: 0px;
}

.overview-row {
  padding: 1em;
}

.overview-item {
  border-radius: 6px;
  font-size: 8px;
  margin: 0.5em;
  padding: 10px 15px;
}

.budget {
  display: flex;
  justify-content: space-between;
}

.budget {
  background: #e1e3e4;
}

.edit-budget-btn {
  padding: 2px 5px;
  max-width: 2.5em;
  transition: all ease-in-out 200ms;
}

.edit-budget-btn:hover {
  background: white;
  border: 1px solid black;
  color: black;
}

.remainder {
  background: #d5eddb;
}

.total-expenditures {
  background: #cbe5ff;
}
