.add-input {
  margin-top: 0.75em;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background: none;
  border: none;
  transition: all ease-in-out 200ms;
}

.delete-btn:hover {
  color: grey;
}
